.horizspace {
	display:flex;
	justify-content: center;
}

.horizspace img{
	padding: 20px;
}

.horizspace2 > *{
	display: inline-block;
	position:relative;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 10px;
}

.vertspace {
	padding-bottom: 10%;
	padding-top: 10%;
}

.vertspace2 {
	padding-bottom: 5%;
	padding-top: 5%;
}

.horizlist{
	padding: 0;
}

.horizlist > *{
	display: inline;
	float: left;
	padding: 0;
	
}

.buttons1 a{
	background-color: pink;
	border-radius: 9px;
	color: white;
	text-decoration: none;
	display: inline-block;
}

.b1 {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 30px;
}

.b2 {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
}

.b3 {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
}

.b4{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
}

.buttons1 input{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 15px;
	background-color: pink;
	border-radius: 9px;
	color: white;
	text-decoration: none;
	display: inline-block;
	border-style: none;
}

.horizbar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.horizbar li {
	float: left;
}

.horizbar a {
	display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: pink;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

.firstanchor {
	border-radius: 5px 0px 0px 5px;
}

.lastanchor {
	border-radius: 0px 5px 5px 0px;
}

.pagination li{
	float: left;
	margin-left: 10px;
}

.pagination *{
	display: block;
    width: 20px;
    text-align: center;
    padding: 8px;
    color: pink;
    list-style-type: none;
    text-decoration: none;
}

.pagination span{
	color:#808080;
	border-bottom-style: solid;
	
}

.pagination a{
	border-bottom-style: solid;

}

.pagends a{
	border-bottom-style: none;
}

.avatar {
	float: left;

}

.avcomment {
	overflow: hidden;
}

.stream {
	clear: both;
}